<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
	  <class name="com.sampledotnetscripts.CreatePost"/>
	  <class name="com.sampledotnetscripts.EditPost"/>
	  <class name="com.sampledotnetscripts.DeletePost"/>
	  <class name="com.sampledotnetscripts.CreateTag"/>
	  <class name="com.sampledotnetscripts.EditTag"/>
	  <class name="com.sampledotnetscripts.DeleteTag"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



